.wrapper{
    display: flex;
    padding: 40px;
}
button{
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid rgba(87, 85, 85, 0.4);
    padding: 5px;
    width: 150px;
}